.IBSearchResults {
  list-style: none;
  margin: 1rem -1rem -1rem;
  padding: 0 0rem 0;
  text-align: left;
  max-height: 22rem;
  overflow: auto;
}

.IBSearchResult {
  margin: 0 -1rem;
  padding: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.IBSearchResult:last-child {
  border-bottom: 0;
}

.IBSearchResult a {
  display: block;
  padding: 0 2rem;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.9);
}


.IBSearchResult h2 {
  font-size: 1rem;
  margin-bottom: 0;
}
.IBSearchResult p {
  margin-top: 0.25rem;
}